services:
  web:
    build: .
    command: python manage.py run -h 0.0.0.0 
    volumes:
      - ./app/:/home/library/app
    ports:
      - 5001:5001
    env_file:
      - ./.env.dev
  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.dev

volumes:
  postgres_data:
