{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="library-header">
        <div class="toolbar-container">
            <nav class="nav-pills">
                <a href="{{ url_for('series.list_series') }}"
                    class="nav-pill {% if not current_status %}active{% endif %}">
                    Tout
                </a>
                <a href="{{ url_for('series.list_series', statuts='ONGOING') }}"
                    class="nav-pill {% if current_status == 'ONGOING' %}active{% endif %}">
                    En cours
                </a>
                <a href="{{ url_for('series.list_series', statuts='ABANDONED') }}"
                    class="nav-pill {% if current_status == 'ABANDONED' %}active{% endif %}">
                    Abandonnée
                </a>
                <a href="{{ url_for('series.list_series', statuts='FINISHED') }}"
                    class="nav-pill {% if current_status == 'FINISHED' %}active{% endif %}">
                    Terminée
                </a>
            </nav>


        </div>

        <div class="dashboard-grid">
            {% for series in series_list %}
            {% if series.books %}
            <div class="series-card saga-item" data-status="{{ fake_status }}">
                <a href="{{ url_for('series.view_a_serie', series_id=series.id) }}" class="card-link"></a>

                <div class="series-header">
                    <div class="series-info">
                        <h2>{{ series.title }}</h2>
                        <p>Par {{ series.books[0].author.name }}</p>
                    </div>
                    {% if series.status == SeriesStatus.ONGOING %}
                    <span class="badge badge-ongoing">En cours</span>
                    {% elif series.status == SeriesStatus.FINISHED %}
                    <span class="badge badge-finished">Terminée</span>
                    {% else %}
                    <span class="badge badge-abandoned">Abandonnée</span>
                    {% endif %}
                </div>
                <div class="volumes-container">
                        {% for i in range(1, series.nb_of_volumes + 1) %}
                        {% if i in owned_volumes[series.id] %}
                        <div class="vol-square owned" style="z-index: 2;" title="Tome {{ i }}">
                            {{ i }}
                        </div>
                        {% else %}
                        <div class="vol-square missing" style="z-index: 2;" title="Tome {{ i }} manquant">
                            {{ i }}
                        </div>
                        {% endif %}
                        {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {% endblock %}