{% extends "layout.html" %}

{% block title %}Ma Collection{% endblock %}

{% block content %}
<main>
    <div class="book-grid">
        {% for book in books %}
        <div class="book-card">
            <a href="{{ book.id }}"> <div class="book-cover">
                {% if book.cover_url %}
                <img src="{{ book.cover_url }}" alt="Couverture de {{ book.title }}">
                {% endif %}
            </div> </a>
            <h3>{{ book.title }}</h3>
            <p>{{ book.name }}</p>
        </div>
        {% else %}
        <div class="no-books">
            <p>Aucun livre dans votre bibliothèque pour le moment.</p>
        </div> 
        {% endfor %}
    </div>
</main>
{% endblock %}
