{% extends "layout.html" %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<main>
    <div class="dashboard-grid">
        
        <section class="widget currently-book">
            <div class="widget-header">
                <h2>Lecture en cours</h2>
            </div>
            <div class="widget-content">
                <p class="no-book-reading">Vous ne lisez aucun livre pour le moment.</p>
            </div>
        </section>
</main>
{% endblock %}