<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ma Bibliothèque{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="main-header">
        <a href="{{ url_for('main.index') }}" class="header-title">Bibliothèque</a>

        <nav class="main-nav">
            <a href="{{ url_for('main.index') }}">Tableau de Bord</a>
            <a href="{{ url_for('book.list_books') }}">Ma Collection</a>
        </nav>

        <a href="{{ url_for('book.add_book') }}" class="add-button">+ Ajouter un livre</a>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
